{% extends "sitekalibi.html" %}
{%block anakisim%}


  <h1> Öğrenci sayfasına hoş geldiniz </h1>
  <p>Öğrenci işlemlerinin olduğu sayfa</p>

{%block listekismi %}
{%endblock%}

{%block ogrencidetay%}
{%endblock%}

{% block ogrenciduzelt %}
{%endblock%}

  
<!-- <div class="row offset-md-1"> -->
<!-- <div class="row"> -->
  <a href= "/" class="bosluk btn btn-primary">Ana sayfaya dön</a>
  
  <a href= "/ogrenciekle" class="bosluk btn btn-primary">Ekle</a>
  <!-- </div> -->
<style>
  .bosluk{
    margin:10px;
    width:200px;
  
  }
  
  
</style>
  
{%endblock%}



