{% extends "sitekalibi.html" %}
{%block anakisim%}
  <h1>Öğretmen sayfası</h1>
  <p>Öğretmen işlemlerinin olduğu sayfa</p>


{%block listekismi %}
{%endblock%}

{%block ogretmendetay%}
{%endblock%}

{% block ogretmenduzelt %}
{%endblock%}


<!-- <div class="row offset-md-1"> -->
<!-- <div class="row"> -->
  <a href= "/" class="bosluk btn btn-primary">Ana sayfaya dön</a>

  <a href= "/ogretmenekle" class="bosluk btn btn-primary">Ekle</a>
  <!-- </div> -->
<style>
  .bosluk{
    margin:10px;
    width:200px;

  }


</style>

{%endblock%}

